<div class="flex-column flex-no-wrap w-100 bg-dark">
  <header class="display-flex p-2 m-3 text-primary">
    <h1 class="col-xl-2 text-light">
      Tags
    </h1>
    <nav class="col-xl-10 row align-center justify-content-between">
      <div class="p-2 col-xl-2 text-lg">
        <a id="html">HTML</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="css">CSS</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="javascript">JavaScript</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="node">Node</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="other">Other</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="new-post">➕ New Post</a>
      </div>
    </nav>
  </header>
</div>

{{> newpost}}

<div class="flex-row">
  {{#each posts as |post| }}
  <div class="pt-5 col-xl-4 w-25">
    <div class="display-flex">
      <div class="">
        <div class="card p-4 card-rounded">
          <div class="card card-header">
            <h2>Author: {{post.User.fname}} {{post.User.lname}}</h2>
            <h2>{{post.title}} </h2>
          </div>
          <div class="card card-body card-rounded">
            <p>{{post.body}}</p>
          </div>
          <div class="card card-body card-rounded">
            <p>Tag: {{post.Tag.tag_name}}</p>
          </div>
          <div class="card card-body card-rounded">
            <p>Posted On: {{post.createdAt}}</p>
          </div>
          <div class="card card-footer">
            <h3><button data-id={{post.id}} class="btn btn-primary w-100 commentsTag">Show Comments</button></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>


<script src="/js/newpost.js"></script>
<script src="/js/pegsearch.js"></script>