<div class="flex-row col-xl-12">
  <div class="card col-xl-4 p-4 card-rounded">
    <div class="card card-header text-center">
      <h2>Your Profile </h2>
      <h2>{{user.fname}} {{user.lname}}</h2>
    </div>
    <button id="updateProfileButton" class="card card-footer card-rounded btn btn-primary w-100">
      <h3>Update Profile</h3>
    </button>
  </div>
  <div class="py-4 display-flex flex-column card col-xl-8 card-rounded bg-primary">
    <div class="align-baseline card card-body card-rounded bg-white ">
      <p class="text-lg">First Name: {{user.fname}}</p>
      <p class="text-lg">Last Name: {{user.lname}}</p>
      <p class="text-lg">Email: {{user.email}}</p>
    </div>
  </div>
</div>


<h1>Your Posts</h1>

<div class="flex-row">
  {{#each posts as |post| }}
  <div class="flex-column flex-no-wrap col-xl-4 w-25">
    <div class="display-flex">
      <div class="">
        <div class="card p-4 card-rounded">
          <div class="card card-header">

            <h2>{{post.title}} </h2>
          </div>
          <div class="card card-body card-rounded">
            <p>{{post.body}}</p>
          </div>
          <div class="card card-body card-rounded">
            <p>Tag: {{post.Tag.tag_name}}</p>
          </div>
          <div class="card card-body card-rounded">
            <p>Posted On: {{post.createdAt}}</p>
          </div>
          <div class="card card-footer">
            <h3><button data-id={{post.id}} class="btn btn-primary w-100 commentsTag">Show Comments</button></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <section class="card col-xl-8 p-4 card-rounded hidden">
    <div class="flex-row">
      <div class="w-100">
        <h2>Update (must enter info into all fields)</h2>
        <form class="form login-form">
          <div class="form-group">
            <label for="first-name-update">First Name:</label>
            <input class="form-input" type="text" id="fname-update" />
          </div>
          <div class="form-group">
            <label for="last-name-update">Last Name:</label>
            <input class="form-input" type="text" id="lname-update" />
          </div>
          <div class="form-group">
            <label for="email-update">Email:</label>
            <input class="form-input" type="text" id="email-update" />
          </div>
          <div class="form-group">
            <label for="password-update">Password:</label>
            <input class="form-input" type="password" id="password-update"
              placeholder="must be at least 6 characters" />
          </div>
          <div class="form-group">
            <button id="updateButton" class="btn btn-primary" type="submit">update</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<script src="/js/profile.js"></script>