<div class="flex-column flex-no-wrap w-100 bg-dark">
  <header class="display-flex p-2 m-3 text-primary">
    <h1 class="col-xl-2 text-light">
      Tags
    </h1>
    <nav class="col-xl-10 row align-center justify-content-between">
      <div class="p-2 col-xl-2 text-lg">
        <a id="html">HTML</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="css">CSS</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="javascript">JavaScript</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="node">Node</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="other">Other</a>
      </div>
      <div class="p-2 col-xl-2 text-lg">
        <a id="new-post">➕ New Post</a>
      </div>
    </nav>
  </header>
</div>

{{> newpost}}

<div class="pt-5 row">
  <div class="col-3">
    {{#each posts as |post| }}
    <div class="flex-column flex-wrap w-100">
      <div class="display-flex">
        <div class="">
          <div class="card p-4 card-rounded">
            <div class="card card-header">
              <h2>Author: {{post.User.fname}} {{post.User.lname}}</h2>
              <h2>{{post.title}} </h2>
            </div>
            <div class="card card-body card-rounded">
              <p>{{post.body}}</p>

            </div>
            <div class="card card-body card-rounded">
              <p>Posted On: {{post.createdAt}}</p>
            </div>
            <div class="card card-footer">
              <h3><button data-id={{post.id}} class="btn btn-primary w-100 commentsTag">Show Comments</button></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="col-xl-9">
    <div class="">
      <div class="display-flex">
        <div class="w-100">
          <div class="card p-4 card-rounded">
            <div class="card card-header">
              <h2>Author: {{selectedPost.User.fname}} {{selectedPost.User.lname}}</h2>
              <h2>{{selectedPost.title}} </h2>
            </div>
            <div class="card card-body card-rounded">
              <p>{{selectedPost.body}}</p>

            </div>
            <div class="card card-body card-rounded">
              <p>Posted On: {{selectedPost.createdAt}}</p>
              <p>Likes: {{selectedPost.likes.length}}</p>
              {{#if userLiked}}
              <button class="btn btn-primary" type="submit" data-like="unlike" data-userPostId="{{selectedPost.id}}"
                data-userId="{{selectedPost.User.fname}}">UNLIKE</button>
              {{else}}
              <button class="btn btn-primary" type="submit" data-like="like" data-userPostId="{{selectedPost.id}}"
                data-userId="{{selectedPost.User.fname}}">LIKE</button>
              {{/if}}
            </div>
            <div class="card card-footer card-rounded">
              <h3 id="selectedPost" data-id="{{selectedPost.id}}" class="w-100 commentsTag">Comments</h3>

              {{#each comments as |comment| }}
              {{> comments}}
              {{/each}}
            </div>
            <div class="card card-footer card-rounded">
              <form class="form login-form">
                <div class="form-group">
                  <label for="comment-form">Comment:</label>
                  <input name="comment-body" class="form-input" type="text" placeholder="comment text goes here" />
                <div class="form-group">
                  <button id="commentButton" class="btn btn-primary" type="submit">Comment</button>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/comment.js"></script>


<script src="/js/newpost.js"></script>

<script src="/js/like.js"></script>

